:root {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.userCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.userCardWrapper {
  border: 1px solid black;
  border-radius: 20px;
  margin: 2rem 1rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
  padding: 20px;
}

.cardImgWrapper {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 6px solid orange;
  overflow: hidden;
}

.cardImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;

  object-fit: cover;
  object-position: center;
}

.initials {
  font-size: 2rem;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: white;
}

.cardName {
  font-size: 2rem;
  font-weight: bold;
  margin: 30px 0;
}

.cardDescription {
  font-style: italic;
}
